@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "TestSöhne";
  src: url("/fonts/TestSöhne-BuchKursiv.otf") format("opentype");
  font-weight: normal;
  font-size: 16.9;
  line-height: 25.03;
  font-style: normal;
}
@font-face {
  font-family: "TestSöhne";
  src: url("/fonts/TestSöhne-HeadBold.otf") format("opentype");
  font-weight: 700;
  font-size: 54;
  line-height: 100%;
  font-style: bold;
}

@font-face {
  font-family: "TestSöhne";
  src: url("/fonts/TestSöhne-ExtrafettKursiv.otf") format("opentype");
  font-weight: 700;
  font-size: 76;
  line-height: 100%;
  font-style: inherit;
}
